.receipt-container {
  font-size: 12px;
  line-height: 1.2;
}

.receipt-container p {
  margin: 0;
}

.receipt-container strong {
  font-weight: bold;
}

.receipt-print-button {
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

.split-header {
  display: flex;
  justify-content: space-between;
}

.receipt-middle {
  text-align: left;
  margin-top: 20px;
  margin-left: 50px;
}
